.product_list{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products{
    border: 1px solid red;
    max-width: 740px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.product{
    border: 1px solid red;
    width: 200px;
    height: 350px;
    padding: 10px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.product_image{
    border: 1px solid blue;
    background-color: rgb(240, 243, 237);;
    width: 200px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.product_image_img{
    max-width: 100%;
    max-height: 100%;
    object-fit:cover;
}

.product_details{
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shopping_cart{
    width: 400px;
    background-color: rgb(240, 243, 237);
    position: fixed;
    inset: 30px 0 30px auto;
    z-index: 100;
}

.shopping_cart_title{
    border: 1px solid blue;
    display: flex;
    height: 50px;
    justify-content: center;
}
.shopping_cart_product_list{
    border: 1px solid blue;
}

.shopping_cart_product{
    border: 1px solid red; 
    display: flex;
}
.shopping_cart_product_image{
    border: 1px solid red; 
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shopping_cart_product_img {
    max-width: 100%;
    max-height: 100%;
    object-fit:cover;
}

.shopping_cart_product_details{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.shopping_cart_product_details p{
    padding-left: 5px;
}

.close_btn{
    width: 100%;
}
